@import "modern-normalize/modern-normalize.css";

body {
  margin: 0.5em;
  padding: 0;
  font-family: sans;
  background-color: #333;
  color: #eee;
}

a:link {
  color: #eee;
  text-decoration: underline;
}

a:visited {
  color: #eee;
}

a:active {
  color: #eee;
  text-decoration: underline;
}

a:hover {
  color: #eee;
  text-decoration: none;
}

header nav {
  margin: 1em 0;
}

nav .active {
  font-weight: bold;
}

input,
button {
  border: 2px #999;
  border-radius: 4px;
}

input,
textarea {
  background: #eee;
  color: #333;
  border-style: inset;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: #666;
  border-style: outset;
  color: #ccc;
}

meter {
  border-radius: 4px;
  background: #444;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form {
  margin: 0 auto;
  margin: 0.25em 0;
  width: 100%;
}

fieldset {
  border: 1px outset #666;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

fieldset,
legend {
  background: #444;
  border-radius: 4px;
}

legend {
  border-top: 1px outset #666;
  padding: 0 0.5em;
}

fieldset label {
  display: flex;
  flex-direction: row;
}

fieldset label span {
  width: 33%;
}

fieldset label input {
  flex-grow: 1;
}

.error {
  outline: 2px inset orangered;
  color: red;
  font-weight: bold;
  background: palegoldenrod;
  border-radius: 4px;
  padding: 0.25em;
}

.loading-indicator,
.success-indicator {
  margin: 0 0.5em;
}

/* tailwindish utilities */

.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-grow { flex-grow: 1; }

.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.text-center { text-align: center; }

.gap-1 { gap: 0.25em; }
.gap-2 { gap: 0.5em; }
.gap-4 { gap: 1em; }

.m-1 { margin: 0.25em; }
.m-2 { margin: 0.5em; }
.m-4 { margin: 1em; }

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-1 { padding: 0.25em; }
.p-2 { padding: 0.5em; }
.p-4 { padding: 1em; }

.shadow-sm { box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%); }
.shadow { box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%); }
.shadow-md { box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%); }
.shadow-lg { box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%); }
